Employee.dtd

<!ELEMENT Employee(Address,Phone,Name)>
<!ELEMENT Address(City,Country,Galli)>
<!ELEMENT Phone(Landline,Mobile)>
<!ELEMENT Name(First_name,Last_name)>
<!ELEMENT City(#PCDATA)>
<!ELEMENT Country(#PCDATA)>
<!ELEMENT Galli(#PCDATA)>
<!ELEMENT Landline(#PCDATA)>
<!ELEMENT Mobile(Office,Personal)>
<!ELEMENT Office(#PCDATA)>
<!ELEMENT Personal(#PCDATA)>
<!ELEMENT First_name(#PCDATA)>
<!ELEMENT Last_name(#PCDATA)>